@font-face {
  font-family: "iconfont"; /* Project id 2543085 */
  src: url('iconfont.woff2?t=1620798602528') format('woff2'),
       url('iconfont.woff?t=1620798602528') format('woff'),
       url('iconfont.ttf?t=1620798602528') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-YXC_xichewxz:before {
  content: "\e629";
}

.icon-tubiaozhizuomoban:before {
  content: "\e62d";
}

.icon-xinxinicon:before {
  content: "\e691";
}

.icon-yijia:before {
  content: "\e74c";
}

.icon--basketball:before {
  content: "\e62a";
}

.icon-dizhi:before {
  content: "\e628";
}

.icon-bizi:before {
  content: "\e61b";
}

.icon-zhuanfa:before {
  content: "\e604";
}

.icon-diaohuanxunlian:before {
  content: "\e669";
}

.icon-lvhangxiang:before {
  content: "\e67a";
}

.icon-jiaonang:before {
  content: "\e600";
}

.icon-qingzhuanduoyunyewan:before {
  content: "\e601";
}

.icon-xiaolian:before {
  content: "\e717";
}

.icon-feng:before {
  content: "\e6fd";
}

.icon-rise:before {
  content: "\e602";
}

.icon-duoyun:before {
  content: "\e603";
}

.icon-weather-2:before {
  content: "\e605";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-taiyang:before {
  content: "\e608";
}

.icon-111:before {
  content: "\e63c";
}

.icon-qingtianyewan:before {
  content: "\e889";
}

.icon-11kouhong:before {
  content: "\e606";
}

.icon-yu:before {
  content: "\e626";
}

.icon-yusan:before {
  content: "\e6d3";
}

